body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:white;
}

/* Global */
.container{
    width:88%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.dark{
    padding:15px;
    background:#161616;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}


/* Header **/
header{
    background: #ffffff;
    color: #ffffff;
    padding-top:30px;
    min-height:78px;
    border-bottom:#000000 1px solid;
}

header a{
    color:#2d2d2d;
    text-decoration:none;
    text-transform:uppercase;
    font-size:17px; 
}

header li{
    float:left;
    display:inline;
    padding:0 20px 0 20px;
}

header #branding{
    padding-top: 10px;
    min-height: 40px;
    text-align: left;
    padding-bottom: 30px;
}

header #branding h1{
    margin:0;
    float: none;
    font-size: 50px;
    padding: 0;
    font-family: 'Playfair Display SC', serif;
}

header nav{
    float: right;
    margin-top:10px;
    text-align:center;
}

header .highlight, header .current a{
    color:black;
    font-weight:bold;
}
header a:hover{
    color:#7a7a7a;
    font-weight:bold;
}

/* Showcase */
#showcase{
    min-height:400px;
    background-image: url('../img/showcase.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    text-align:center;
    color:#000000;
}

#showcase h1{
    margin-top:100px;
    font-size:35px;
    margin-bottom:10px;
}

#showcase p{
    font-size:20px;
}

/* Boxes */
#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align:center;
    width:30%;
    padding:10px;
}

#boxes .box img{
    width:90px;
}

/* Sidebar */
aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
}

/* Main-col */
article#main-col{
    float:left;
    width:65%;
}

/* Coursework */
ul#portfolio li{
    list-style: none;
    padding:20px;
    border:#cccccc solid 1px;
    margin-bottom:5px;
    background:#e6e6e6;
}
footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#2d2d2d;
    text-align:center;
}

/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float:none;
        test-align:center;
        width:100%;
    }
    
    header{
        padding-bottom:20px;
    }
    
    #showcase h1{
        margin-top:40px;
    }
    

    




